# API Configuration
VITE_API_BASE_URL_DEV=http://localhost:8080/api
VITE_API_BASE_URL_PROD=vietlong.com

# Media Base URL for local file storage
VITE_MEDIA_BASE_URL_LOCAL=http://localhost:8080

# Environment setting
VITE_ENVIRONMENT=development

# File upload provider
VITE_FILE_UPLOAD_PROVIDER=local